*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
header{
    background-image:url(../computer.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 20px;
}
ul li{
    display: inline-block;
}
ul li a{
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: aqua;
    color: black;
}
ul li.active a{
    background-color: aqua;
    color: black;
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
    margin: auto;
    padding-left: 42px;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: white;
    font-size: 70px;
}
.button{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}
.btns{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    border:hidden transparent;
    transition: 0.6s ease;
}
.btns:hover{
    background-color: aqua;
    color: black;
}
.card {
  margin-left: 20px;
  margin-top: 20px;
}
.card img{

}
